@mixin btn($bg, $text-color, $isLink, $hover-color, $active-color) {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  border: none;
  padding: 10px 30px;
  color: $text-color;
  background-color: $bg;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;

  &:hover {
      background-color: $hover-color;
  }
  &:active {
      background-color: $active-color;
  }
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
      eot: "?",
      svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
      otf: "opentype",
      ttf: "truetype"
  );

  @each $ext in $exts {
      $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
      $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
      $src: append($src, url(quote("../" + $path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
      font-family: quote($name);
      font-style: $style;
      font-weight: $weight;
      src: $src;
      font-display: swap;
  }
}

@mixin visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

@mixin reset-visually-hidden {
    position: static !important;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}
