$primaryColorDark: #162A39;
$primaryColorBlue: #0084F4;
$primaryColorYellow: #FFB400;
$primaryColorGray: #E1E4E6;

$accentColorGreen: #40D38C;
$accentColorOrange: #FFA26B;
$accentColorBlue: rgba(102, 181, 248, 1);

$text-color: #424B5F;

//breakpoints
$xs: rem(320);
$sm: rem(576);
$md: rem(768);
$lg: rem(1024);
$xl: rem(1200);
$bp767: rem(767);
$bp992: rem(992);

