nav.main-nav
    button.main-nav__toggle
        span.main-nav__toggle-icon
    .main-nav__inner
        .main-nav__content
            ul.main-nav__list
                li.main-nav__item
                    .main-nav__item-inner
                        a.main-nav__link(href='#') Guides
                li.main-nav__item
                    .main-nav__item-inner
                        a.main-nav__link(href='#') Documentation
                li.main-nav__item
                    .main-nav__item-inner
                        a.main-nav__link(href='#') FAQ
                li.main-nav__item
                    .main-nav__item-inner
                        a.main-nav__link(href='#') Video
        button.btn.btn-sm Sign Up 
