extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "DataSunrise Registration";

block content
	section.auth-page
		+auth("Signup")

block scripts
	script(src="../../js/auth.js")