extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Video";

block content
    +header()
    main
        +blockInner('page', 'Video',
            [
                {
                    name: 'Home',
                    link: 'index.html'
                }
            ],
            'Video',
            'This section contains detailed guides on how you can mask your data, set up your database auditing and make your data and database secure.'
        )
        section.video
          +contentItems('', [
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube-nocookie.com/embed/PaIAKCuz_y4?rel=0',
                modalId: 'modal-1'
              },
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube.com/embed/Bbv_jKN5XWw',
                modalId: 'modal-1'
              },
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube-nocookie.com/embed/PaIAKCuz_y4?rel=0',
                modalId: 'modal-1'
              },
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube.com/embed/Bbv_jKN5XWw',
                modalId: 'modal-1'
              },
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube-nocookie.com/embed/PaIAKCuz_y4?rel=0',
                modalId: 'modal-1'
              },
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube.com/embed/Bbv_jKN5XWw',
                modalId: 'modal-1'
              },
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube.com/embed/Bbv_jKN5XWw',
                modalId: 'modal-1'
              },
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube-nocookie.com/embed/PaIAKCuz_y4?rel=0',
                modalId: 'modal-1'
              },
              {
                img: 'img/placeholder.jpg',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                videoSrc: 'https://www.youtube-nocookie.com/embed/PaIAKCuz_y4?rel=0',
                modalId: 'modal-1'
              },
            ])
        +contactUsPromo()
        +modal('modal-1', '', '<iframe frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>', 'video')
    +footer()


block scripts
    script(src="js/main.js")
    srcipt(src="js/modal.js")
    script(src="js/vendor.js")