.block-inner {
  background-color: $primaryColorDark;
  padding-top: 262px;
  padding-bottom: 249px;
  text-align: center;
  h1 {
    color: #ffffff;
  }
  .sub-heading {
    max-width: 412px;
    margin-left: auto;
    margin-right: auto;
  }
}