.block-inner {
  background-color: $primaryColorDark;
  padding-top: 262px;
  padding-bottom: 249px;
  text-align: center;
  background-size: auto;
  background-position: right bottom;
  background-repeat: no-repeat;
  h1 {
    color: #ffffff;
  }
  .sub-heading {
    max-width: 412px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    position: relative;
    color: #ffffff;
    margin-top: 78px;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: auto;
        transform: translateY(-50%);
    }
  }

  &_page {
    padding-top: 150px;
    padding-bottom: 124px;
    text-align: left;

    .breadcrumbs__item::after {
      border-color: #ffffff;
    }
    
    .breadcrumbs__link,
    .breadcrumbs__link-current {
        color: #ffffff;
    }
  }

  &_faq {
    padding-bottom: 93px;
    h2 {
        &::after {
            background-image: url("../img/svg/faq-title.svg");
        }
    }
  }

  &_guides {
    padding-bottom: 101px;
    h2 {
        &::after {
            background-image: url("../img/svg/guides-title.svg");
        }
    }
  }

  &_doc {
    h2 {
        &::after {
            background-image: url("../img/svg/doc-title.svg");
        }
    }
  }

  p {
      max-width: 735px;
      color: #ffffff;
      font-size: 21px;
      line-height: 28px;
      margin-top: 40px;
  }

  @media (max-width: $bp767) {
      padding-top: 120px;
      background-image: none;
  }
}