.contact-us-page {
    position: relative;
    margin-top: -200px;
    z-index: 3;

    &.privacy {
        p {
            font-size: 16px;
            line-height: 24px;
        }

        .contact-us {
            max-width: none;
            padding-bottom: 0;
        }

        .contact-us__inner {
            box-shadow: none;
        }

        .contact-us__form-container {
            padding-right: 64px;
            padding-bottom: 0;
        }

        .text-part {
            margin-bottom: 38px;
            max-width: 912px;
        }
    }

    &.privacy + .container .contact-us__inner{
        margin-top: 100px;
    }

    .contact-us {
        max-width: 1140px;
        margin: 0 auto;
    }

    .contact-us__form {
        display: block;
    }

    .contact-us__form-container {
        padding-top: 68px;
        padding-bottom: 94px;
        padding-right: 150px;
        flex: 1;

        @media (max-width: $xl) {
            padding-top: 40px;
            padding-right: 64px;
        }

        @media (max-width: $bp767) {
            margin-top: 20px;
            padding: 30px;
        }
    }

    .row {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .contact-us .input-component,
    .contact-us .select-component,
    .contact-us .text-area-component {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 38px;
    }

    .contact-us__info {
        justify-content: flex-start;
        padding-top: 68px;
        background-image: none;
        background-color: $primaryColorGray;
        position: relative;
        min-width: 397px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #FFFFFF -7.75%, #F7F7F7 100%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            z-index: -1;
        }
        &::after {
            content: none;
        }

        dt {
            font-weight: 700;
        }

        @media (max-width: $bp992) {
            min-width: 238px;
        }

        @media (max-width: $bp767) {
            min-width: none;
        }
    }

    .contact-us__info-item dt,
    .contact-us__info-item dd {
        color: $text-color;
    }
    
    @media (max-width: $bp767) {
        margin-top: -150px;
    }
}