.contact-us {
    padding-bottom: 63px;
    &__inner {
        position: relative;
        z-index: 3;
        max-width: 1274px;
        margin: 157px auto 0 auto;
        background-color: #ffffff;
        box-shadow: 0 10px 50px rgba(7, 42, 68, 0.15);
        border-radius: 3px;

        @media (max-width: $bp767) {
            margin-top: 80px;
        }
    }

    .row-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2 {
        margin-bottom: 21px;
        font-family: "Lato", "Arial", sans-serif;
    }

    h3 {
        margin-bottom: 43px;
    }

    &__form-container {
        padding: 32px 64px;

        @media (max-width: $lg) {
            padding: 20px 30px;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        padding: 0 38px;
        min-width: 238px;
        z-index: 1;
        background-image: url("../img/form-back.jpg");
        background-position: center;
        background-size: cover;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,132,244, 0.8);
            z-index: -1;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        @media (max-width: $lg) {
            padding: 0 20px;
        }

        @media (max-width: $bp767) {
            padding: 40px 20px;
        }
    }

    &__to {
        span {
            display: inline-block;
            margin-right: 18px;
        }
        a {
            color: $primaryColorBlue;
            text-decoration: none;
        }
    }

    &__info-item {
        margin-bottom: 40px;

        dt {
            font-size: 16px;
        }

        dd {
            font-size: 14px;
            line-height: 21px;
            margin: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__header-form {
        margin-top: 0;
        margin-bottom: 56px;
        font-size: 18px;
        line-height: 28px;
        margin-right: -40px;

        a {
            color: $primaryColorBlue;
        }

        @media (max-width: $bp767) {
            margin-bottom: 30px;
            margin-right: 0;
        }
    }

    .row {
        @include row-flex();
        margin-bottom: 28px;
        align-items: flex-end;

        &:last-child {
            margin-bottom: 38px;
        }
    }
    .input-component {
        @include col();
        @include size(4);
        @include size-bp992(6);
        @include size-md(12);

        margin-bottom: 28px;
        label {
            margin-bottom: 4px;
            font-size: 14px;
            line-height: 16px;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .select-component {
        @include col();
        @include size(4);
        @include size-bp992(6);
        @include size-md(12);

        margin-bottom: 28px;

        &.full-width {
            @include size(12);
        }

        select {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .text-area-component {
        @include col();
        @include size(12);

        textarea {
            display: block;
            width: 100% !important;
            height: 115px;
            box-sizing: border-box;
        }
    }

    .btn.btn-lg {
        @include btn($primaryColorBlue, #ffffff, true, #0478DB, #026AC2);
    }

    @media (max-width: $bp767) {
        .flex-row {
            display: block;
        }
    }
}

.contact-us.subscribe {
    .contact-us__form-container {
        flex: 1;
    }

    .input-component {
        @include size(6);
        @include size-bp767(12);
    }

    .contact-us__form {
        display: block;

        .row-flex {
            flex-wrap: wrap;

            button,
            .contact-us__to {
                margin-bottom: 20px;
            }
        }
    }
}
