.contents {
  margin-top: 77px;
  h2 {
    margin-right: 15px;
  }

  .flex-row {
    align-items: center;
    margin-bottom: 36px;
  }

  .row {
    @include row-flex();
  }

  &__item {
    display: block;
    @include col();
    @include size(4);
    @include size-bp767(6);
    @include size-sm(12);
    margin-bottom: 38px;

    @media (max-width: $bp767) {
      margin-bottom: 30px;
    }

  }

  &__image {
    position: relative;
    width: 100%;
    height: 231px;
    cursor: pointer;

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.4);
      background-image: url('../img/svg/play.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: background-color 0.3s ease-in-out;
    }
  }
}