.contact-us-promo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
    max-width: 1140px;
    margin: 120px auto 40px auto;
    padding: 60px 15px;
    background-color: $primaryColorBlue;
    background-image: url("../img/svg/XMLID.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 105% 150px;
    border-radius: 3px;

    h2 {
        color: #ffffff;
    }

    p {
        margin-top: 40px;
        margin-bottom: 56px;
        text-align: center;
    }

    .btn.btn-lg {
        @include btn(#ffffff, $text-color, true, $primaryColorGray,  #CDD0D2);
        font-weight: 700;
    }

    @media (max-width: $md) {
        margin-top: 80px;

        p {
            margin-bottom: 70px;
        }
    }

    @media (max-width: $sm) {
        background-position: center 230px;
    }
}