.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 65px;
  margin-bottom: 105px;
  @media(max-width: $bp767) {
      margin-bottom: 40px;
  }

  &__item {
      display: flex;
      flex: 0 0 25%;
      flex-direction: column;
      align-items: center;
      max-width: 25%;
  }

  &__list {
      display: flex;
      flex-direction: column;
  }

  &__title {
      margin-bottom: 30px;
      text-transform: uppercase;
      text-decoration: none;
      color: #FFFFFF;
      &:last-child {
          margin-bottom: 0;
      }
  }

  &__title.link {
      &:hover {
          color: darken(#ffffff, 25%);
      }
  }

  &__link {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      margin-bottom: 30px;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      color: $accentColorBlue;
      &:last-child {
          margin-bottom: 0;
      }
      &:hover {
          color: darken(#ffffff, 25%);
      }
  }

  @media (max-width: $sm) {
      display: block;
      margin-top: 92px;

      &__item {
          display: block;
          max-width: 100%;
          text-align: center;
          margin-bottom: 79px;
      }

      .social__list {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;
      }

      .social__link {
          margin-bottom: 0;
      }
  }
}