.guide-detail {
    margin-top: -50px;
    &__header {
        padding-top: 50px;
        padding-bottom: 25px;
        margin-bottom: 37px;
        border-bottom: 1px solid #E1E4E6;

        h3 {
            font-size: 38px;
            margin-bottom: 40px;
        }
    }

    .tab {
        position: relative;
        z-index: 2;
        padding-bottom: 81px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 15px;
            width: calc(100% - 30px);
            height: 100%;
            background-color: #ffffff;
            z-index: -1;
            border-radius: 3px;
        }
    }

    ul,
    ol {
        margin-top: 1rem;
        margin-bottom: 38px;
        padding-left: 15px;
        list-style-image: url("../img/svg/list-style.svg");

        li {
            margin-bottom: 18px;
            font-size: 16px;
            line-height: 24px;
            color: $text-color;
        }
    }

    p {
        font-size: 16px;
        line-height: 24px;
        color: $text-color;
        margin-bottom: 28px;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 27px;
    }

    .tab__list {
        position: sticky;

        @media (max-width: $bp767) {
            top: 0 !important;
        }
    }
}
