.search-page {
    padding-top: 168px;


    .tab__content-item .question-group {
        &:nth-child(10n+10),
        &:nth-last-child(-n+2) {
            border-bottom: none;
        }
    }

    .breadcrumbs {
        margin-bottom: 78px;
    }

    &__search {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 16px;
        border-bottom: 1px solid #E1E4E6;
        margin-bottom: 56px;

        h2 {
            font-size: 40px;
            margin-right: 89px;
            margin-bottom: 20px;
            span {
                font-size: 40px;
                line-height: 48px;
            }
        }

        .search-block {
            flex: 1;
            min-width: 736px;
            margin-bottom: 20px;
        }
    }

    .pagination {
        margin-top: 93px;

        .pagination-nav-numbers {
            display: flex;
        }

        &__prev.disabled,
        &__next.disabled {
            pointer-events: none;
        }

        &__link {
            box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.5);
        }

        &__link.delta {
            cursor: default;
        }

        &__link.active {
            background-color: $primaryColorBlue;
            color: #ffffff;
        }
    }
}