.social {
  &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      margin-bottom: 20px;
      &:last-child {
          margin-bottom: 0;
      }
  }
}