.footer {
    position: relative;
    margin-top: -200px;
    padding-top: 233px;
    padding-bottom: 23px;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/svg/back-footer.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-us-promo {
        width: 1140px;
        margin-top: -385px;
        margin-bottom: 60px;

        @media (max-width: $xl) {
            width: 100%;
        }

        @media (max-width: $sm) {
            padding: 75px 20px;
        }
    }

    &__logo {
        use {
            color: #ffffff;
            fill: #ffffff;
        }

        margin-bottom: 40px;
    }

    p {
        max-width: 680px;
        text-align: center;
        margin-top: 0;

        &.invert,
        .link-in-text {
            color: #ffffff;
        }
    }

    @media (max-width: $sm) {
        &::after {
            background-position: center;
        }
    }

    &_detail {
        margin-top: -140px;
    }
}