@include font-face(Lato-Regular, fonts/Lato-Regular);
@include font-face(Lato-Light, fonts/Lato-Light);
@include font-face(Lato-Semibold, fonts/Lato-Semibold);
@include font-face(Lato-Bold, fonts/Lato-Bold);
